/*VARIABLES GLOBALES*/
:root{
    --color-principal: #052051;
    --color-secundario: #FFFFFF;
    --color-terciario: #696767;
    --letra-principal: 'Trebuchet MS';
}

/*CONTENIDO BASICO*/
*{
    padding: 0;
    margin:0;
}

body{
    background-color: #D8DFE8;
    font-family:var(--letra-principal);
}

/*cuerpo*/

.principal{
    display: flex;
    padding: 1%;
    justify-content:space-around;
}
.cuerpo_1{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 950px;
    gap: 2%;
}
.contenedor_1{
    width: 90%;
    height: 90%;
    padding: 5%;
    border-radius: 30px;
}
.ingreso{
    width: 90%;
    height: 85%;
    display: flex;
    background: none;
    border: none;
    outline: none; /*desactivar el borde al seccionar*/
    padding: 5%;
    border-radius: 6%;
    font-size: 2.5rem;
    resize: none;
    color: var(--color-principal);
    font-weight: 500;
    text-transform: lowercase;/*convierte el contenido en minuscula*/
}
.contenidoMedio{
    display: flex;
    color: var(--color-terciario);
    font-family: var(--letra-principal);
    font-size: xx-small;
    align-items: center;
    padding: 0 0 0 5%;
}
.contenidoMedio img{
    border-radius: 50%;
    margin-right: 1%;
}
.contenedor_2{
    display: flex;
    width: 100%;
    height: 9%;
    align-items: flex-start;
    justify-content: space-evenly;
}
.boton_1, .boton_2{
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 25px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    padding: 3% 13%;
    font-size: 1rem;
}
.boton_1{
    color: var(--color-secundario);
    background-color: var(--color-principal);
    border-color: var(--color-principal);
}
.boton_2, .boton_3{
    color: var(--color-principal);
    background-color: var(--color-secundario);
    border-color: var(--color-principal);
}
.boton_barrer{
    width: 8%;
    border-radius: 50% ;
}
.cuerpo_2{
    display: flex;
    width: 30%;
    height: 950px;
    border-radius: 25px;
}
.contenedor_3{
    display:flex;
    flex-direction: column;
    width: 95%;
    height: 100%;  
    border-radius: 25px;
    margin: auto;
    color:var(--color-terciario);
    background-color: var(--color-secundario);
    background-size: 95% 60%;
    background-repeat: no-repeat;
    box-shadow: 2px 4px 15px #a19e9e;
    text-align: center; 
    overflow:hidden;
}
.contenedor_3 img{
    margin-top: 25%;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    align-self: center;
}
.contenedor_3 .p1{
    margin: 0 15% 5%;
    font-size: x-large;
    font-weight: 800;
}
.contenedor_3 .p2{
    font-display: flex;
    font-size: 70%;
    margin: 0 10% 25%;
    font-size: large;
}

.contenedor_4{
    width: 100%;
    height: 80%;  
    border-radius: 10%;
    margin: auto;
    justify-content: center;
} 
.salida{
    width: 85%;
    height: 90%;
    display: flex;
    background: none;
    border: none;
    color: var(--color-terciario);
    outline: none; /*desactivar el borde al seccionar*/
    font-size: 1.8rem;
    resize: none;
    padding: 8%;
    margin-top: 5%;
}
.contenedor_5{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton_3{
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 25px;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    padding: 7% 35%;
    font-size: 1rem;
    visibility: none;
    box-shadow: var(--color-principal);
}
.pie_de_pagina{
    background-color:var(--color-principal);
    color: var(--color-secundario);
    text-align: center;
    padding: 1% 0;
    font-weight: 600;
    font-size: x-small;
}




@media(max-width: 768px){

    .principal{
        display: flex;
        flex-direction: column;
        padding: 1%;
        justify-content:space-around;
    }
    .cuerpo_1{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 800px;
        gap: 2%;
    }
    .ingreso{
        font-size: 2rem;
    }
    .cuerpo_2{
        display: flex;
        margin-top: 4%;
        margin-bottom: 2%;
        width: 100%;
        height: 285px;
        border-radius: 25px;
    }
    .boton_1, .boton_2{
        font-size: 1rem;
    }
    .contenedor_3 img{
        visibility: hidden;
    }
    .salida{
        width: 86%;
        margin: 4%;
        padding: 0 3%;
        font-size: 1.5rem;
    }
    .boton_3{
        padding: 2.5% 40%;
        font-size: 1rem;
    }
    .contenedor_5{
        height: 40%;
    }
    .contenedor_3 img{
        position: fixed;
    }
    .contenedor_3 .p1{
        padding-top: 15%;
        padding-bottom: 0;
        margin-bottom: 1%;
    }
}

@media(max-width: 375px){
    .cuerpo_1{
        height: 700px;
    }
    .contenedor_1{
        width: 90%;
        height: 550px;
    }
    .contenedor_2{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150px;
        gap: 5%;
    }
    .cuerpo_2{
        width: 100%;
        height: 200px;
    }
    .boton_1, .boton_2{
        width: 90%;
        padding: 4%;
        font-size: 0.9rem;
    }
    .boton_3{
        width: 85%;
        padding: 4%;
        font-size: 0.9rem;
    }
    .salida{
        width: 85%;
        padding: 0 3%;
        font-size: 1.3rem;
    }
}
